---
import ListProjects from '@/components/ListProjects.vue'
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { homePageExperiences } from './experiences/data'
import ListPosts from '@/components/ListPosts.vue'
import { getPosts } from '@/utils/posts'

const { path } = Astro.params

const posts = await getPosts(path)
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Taha Rashid</h1>
    <p>👋 Hey, I'm Taha Rashid</p>
    <p>I’m a 2nd-year Software Engineering student at uOttawa focused on embedded systems and low-level software.</p>

    <p>
      <img width="640" height="360" src="/savepoint_home.png" alt="SavePoint Project Image" />
    </p>

    <p>
      I’m currently doing a co-op at
      <a href="https://www.ciena.com/">Ciena</a>, doing embedded software on their 6500 optical networking platform
      writing C and XML, automating Python test pipelines against real hardware, and targeting VxWorks/Linux kernels.
    </p>

    <p>Here's what I've been doing lately:</p>
    <ul>
      <li>
        Currently building
        <a href="https://github.com/TheBossT910/persona-3-ds">Persona 3 DS</a>, a Nintendo DS game engine demake of
        Persona 3 FES in C++ targeting ARM9 hardware.
      </li>
      <li>
        Previously worked on
        <a href="https://savepoint.ca">SavePoint</a> using Nuxt/Vue, .NET/MS SQL, and Tailwind CSS
      </li>

      <li>
        Last hackathon @
        <a href="https://2026.uottahack.ca">uOttaHack8</a>, where me and my team built
        <a href="https://devpost.com/software/uottahack-8">Market Analysis System (MAS)</a>, an AI-powered multi-agent
        financial investment advisor and dashboard
      </li>
    </ul>

    <p>
      I'm especially interested in embedded systems for automotive, silicon, and XR. Think firmware, drivers, motor
      controllers, and low-level software like compatibility layers (think Rosetta, Proton) that power real hardware at
      scale. The kind of work that makes ARM silicon and VR headsets actually tick.
    </p>
    <p>
      I'm a big fan of VR too, and a fan of the companies pushing the boundaries of immersive hardware and software
      experiences (looking at you Meta & Valve 👀).
    </p>

    <p>I'm seeking Fall 2026 co-op roles based in Ottawa/Toronto, and open to relocating anywhere in the US</p>
    <small>(4 or 12 months)</small>
  </article>

  <hr class="hr-line" />

  <!-- Latest devlog and post -->
  <div>
    <h1 class="text-title">Latest Posts</h1>
    <ListPosts
      client:visible
      list={[posts.filter((p) => p.id.includes('talks/post-'))[0]].concat([
        posts.filter((p) => p.id.includes('devlogs'))[0],
      ])}
    />
  </div>

  <hr class="hr-line" />

  <!-- Experiences -->
  <div>
    <h1 class="mb-10 text-title">Latest Experiences</h1>

    <div mb-8 sm:mb-12>
      {(<ListProjects client:visible list={homePageExperiences[0].projects} />)}
    </div>

    <img
      src="https://github-readme-activity-graph.vercel.app/graph?username=TheBossT910&theme=github-compact"
      alt="Taha's GitHub Activity Graph"
      loading="lazy"
      class="rounded-xl shadow-md w-full max-w-3xl mx-auto"
    />

    <a href="https://github.com/TheBossT910">
      <!-- Generated with https://postspark.app/github-contributions?username=TheBossT910 -->
      <!-- Linkedin banner: https://banner-fox.vercel.app/studio?template=github_banner&theme=[%22%23161C22%22,%22%230077BE%22,%22%230096C7%22,%22%2300B4D8%22,%22%2348CAE4%22] -->
      <img src="/github-contributions.png" class="rounded-10 mt-5" />
    </a>

    <p class="mt-10">Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Want to get in touch? Email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </div>
</BaseLayout>
