---
import ListProjects from '@/components/ListProjects.vue'
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { homePageExperiences } from './experiences/data'
import ListPosts from '@/components/ListPosts.vue'
import { getPosts } from '@/utils/posts'

const { path } = Astro.params

const posts = await getPosts(path)
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Taha Rashid</h1>
    <p>Hey, I'm Taha Rashid!</p>
    <p>I’m a second-year Software Engineering student at the University of Ottawa.</p>

    <p>
      <img width="640" height="360" src="/savepoint_home.png" alt="SavePoint Project Image" />
    </p>

    <p>
      I’m currently working on
      <a href="https://github.com/TheBossT910/savepoint-web">SavePoint</a>, a web-first app built to modernize how
      consumers and businesses people collect and manage video games
    </p>

    <p>Here's what I've been doing lately:</p>
    <ul>
      <li>
        On the Logistics Team at
        <a href="https://www.uottawasesa.ca/">uOttawa SESA</a>
      </li>
      <li>
        Currently building
        <a href="https://github.com/TheBossT910/savepoint-web">SavePoint</a> using Nuxt/Vue, Express.js, and Tailwind CSS
      </li>
      <li>
        Previously worked on
        <a href="https://github.com/TheBossT910/AnimeTracker">Koyomi Anime Tracker</a>, a simple macOS/iOS app to help
        you track the animes you're watching or planning to watch
      </li>
    </ul>

    <p>I'm also seeking co-op opportunities for Winter 2026 in Software Engineering</p>
  </article>

  <hr class="hr-line" />

  <!-- Latest devlog and post -->
  <div>
    <h1 class="text-title">Latest Posts</h1>
    <ListPosts
      client:visible
      list={[posts.filter((p) => p.id.includes('talks/post-'))[0]].concat([
        posts.filter((p) => p.id.includes('devlogs'))[0],
      ])}
    />
  </div>

  <hr class="hr-line" />

  <!-- Experiences -->
  <div>
    <h1 class="mb-10 text-title">Latest Experiences</h1>

    <div mb-8 sm:mb-12>
      {(<ListProjects client:load list={homePageExperiences[0].projects} />)}
    </div>

    <a href="https://github.com/TheBossT910">
      <img src="/github-contributions.png" class="rounded-10" />
    </a>

    <p class="mt-10">Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Want to get in touch? Email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </div>
</BaseLayout>
