---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Taha Rashid</h1>
    <p>Hey, I'm Taha Rashid!</p>
    <p>I’m a second-year Software Engineering student at the University of Ottawa.</p>

    <!-- TODO: add some image here -->
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>

    <p>
      I’m currently working on SavePoint, a web-first app built to modernize how people collect and manage video games
      using Nuxt/Vue 3 with Tailwind CSS at the frontend, and Express.js in the backend.
    </p>

    <p>Here's what I've been doing lately:</p>
    <ul>
      <li>
        On the Logistics Team at
        <a href="https://www.uottawasesa.ca/">uOttawa SESA</a>
      </li>
      <li>
        Currently building
        <a href="https://github.com/TheBossT910/savepoint-web">SavePoint</a>, a game tracker and management app, made
        for consumers and businesses using Nuxt/Vue, Express.js, and Tailwind CSS
      </li>
      <li>
        Previously worked on
        <a href="https://github.com/TheBossT910/AnimeTracker">Koyomi Anime Tracker</a>, a simple macOS/iOS app to help
        you track the anime you're watching or planning to watch
      </li>
    </ul>

    <p>I'm also seeking co-op opportunities for Winter 2026 in Software Engineering</p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Want to get in touch? Email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
